// Colors ..............................................................................................

@red : #ce421b;
@red-dark: #b5462a;
@grey-dark: #666;
@grey: #999;
@grey-light: #aaaaaa;
@color-gray: #cccccc;
@grey-lightest: rgb(240, 240, 240);
@black: #333;

// Units ...............................................................................................

@unit-quarter: 5px;
@unit-half: 10px;
@unit: 20px;
@unit-double: 40px;
@unit-triple: 60px;
