@import "_colors.less";
@import "_variables.less";
@import "_fonts.less";

// Components
@import "components/meal.less";

.clear {
  clear: both;
}

html, body {
  height: 100%;
  font-family: 'Averia Serif Libre', cursive;
  color: #323232;
}

header {
  text-align: center;
  height: 44px;
  background-color: #fff;
  // border-bottom: 1px solid #e5e5e4;
  img {
    margin-top: 10px;
    height: 30px;
  }
}

footer {
  height: 44px;
  border-top: 1px solid #eee;
  margin-top: 20px;

  h5 {
    margin: 0;
    padding: 14px;
    color: #bbbbbb;
    display: inline-block;
  }
  i {
    margin: 14px 14px 0 0;
    float: right;
    color: #bbbbbb;
  }
}