<section>
	<p class="intro">Sharing great takeout is just a few photos away</p>
	<div>
		<i class="fa fa-camera"></i>
		<a class="button red">
			<p>Boxes received</p>
			<span>So people know what to expect</span>
		</a>
	</div>
	<div>
		<i class="fa fa-camera"></i>
		<a class="button red">whi
			<p>Food served</p>
			<span>The first photo people see</span>
		</a>
	</div>
	<div>
		<i class="fa fa-camera"></i>
		<a class="button red">
			<p>Receipt</p>
			<span>We scan it for place & price</span>
		</a>
	</div>
	<div>
		<i class="fa fa-comment"></i>
		<textarea> class="comment" placeholder="Optional burst of joy / thoughtfull
 description</textarea>
	</div>

	<form ng-submit="addMeal()">
	  <p><input type="text" ng-model="title" placeholder="title"></p>
	  <p><input type="text" ng-model="description" placeholder="description"></p>
	  <p><input type="text" ng-model="price" placeholder="price"></p>
	  <p><input type="text" ng-model="faves" placeholder="faves"></p>
	  <p><input type="text" ng-model="restaurant" placeholder="restaurant"></p>
	  <p><input type="text" ng-model="image" placeholder="image"></p>
	  <input type="submit" value="Create meal">
	</form>


</section>
