<div class="meals">
  <div class="swipe-wrap">
    <div class="single-meal" ng-repeat="meal in meals">
      <h1 ng-bind="meal.title"></h1>
      <h3>
        <span ng-bind="meal.price"></span> -
        <span ng-bind="meal.faves"></span>
      </h3>
      <span ng-bind="meal.restaurant"></span>
      <div class="takeout">
        <img ng-src="{{meal.images[0]}}" width="200">
        <p ng-bind="meal.description"></p>
      </div>
    </div>
  </div>
  <a ng-click="prev()">Prev</a>
  <a ng-click="next()">Next</a>
</div>