<div class="page-home">

  <div loading-spinner="{{settings.loadingGeoLocation || carousel.loading}}">
    <span ng-show="settings.loadingGeoLocation">Finding your position</span>
    <span ng-show="carousel.loading && !settings.loadingGeoLocation">Finding meals near you</span>
  </div>

  <div class="actions" ng-show="carousel.items.length > 0 && !isTouch">
    <p>{{carousel.index + 1}}/{{carousel.items.length}}</p>
  </div>

  <ul rn-carousel rn-carousel-index="carousel.index">
    <li class="single-meal" ng-repeat="meal in carousel.items">
      <div class="page-header">
        <h1 class="page-title" ng-bind="meal.name"></h1>
        <div class="subheader">
          $<span ng-bind="meal.prices[0].amount"></span>  &nbsp;
          ~<span ng-bind="getDistanceToRestaurant(meal.restaurant.coordinate)"></span>m
        </div>
      </div>
      <div class="content">
        <div ng-style="{'background-image':'url({{meal.image}})'}" class="meal" ng-click="toggleRestaurantMode(meal.restaurant)"></div>
      </div>
    </li>
  </ul>
  <div class="overlay" ng-if="settings.restaurantMode">
    <div ng-if="settings.restaurantMode"
      class="google-maps-directions"
      from="settings.currentLocation"
      to="settings.clickedRestaurant.coordinate">
    </div>
    <span ng-show="meal.description" class="description" ng-bind="meal.description"></span>
    <span ng-bind="meal.restaurant.name"></span>
  </div>

  <!-- No meals nearby -->
  <div ng-show="carousel.items.length === 0 && !settings.loadingGeoLocation && !carousel.loading">
    No tasty meals nearby :(
  </div>
</div>



