@import "_variables.less";

/*
 * Home.less
 **************************/

.page-home {
  // Initial screen before app has loaded
  .load-screen {
    width: 100%;
    height: 100%;
    padding-top: 40%;
    text-align: center;
    background-color: white;
  }
  .page-content {
    // background-image: url('../../img/bg.png');
  }
  .thick-frame {
    border: 5px solid white;
    box-sizing: border-box;
  }

  .focus {
    position: absolute;
    top: @unit-half;
    right: @unit-half;
    width: @unit-triple;
    height: @unit-triple;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    color: @black;
    text-align: center;
    font-size: 12px;
    border-radius: @unit-double;

    div {
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      font-weight: 300;
    }
  }

  .flip-container {
    perspective: 800px;

    .flip-container-inner {
      transition: 0.2s;
      transform-style: preserve-3d;
      position: relative;

      &.flipped {
        transform: rotateY(-180deg);
      }
    }

    .rn-carousel-container, .restaurant-overlay {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 490px;
      z-index: 2;
    }

    // Slider container
    .rn-carousel-container {

      .single-meal {
        img {
          max-width: 400px;
          width: 100%;
          text-align: center;
        }

        .page-content {
          position: relative;
          margin: 0 auto;

          .focus {
            z-index: 2;
            div {
              &:before {
                content: '$';
              }
            }
          }
          .meal {
            height: 70%;
            background-position: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            filter: contrast(110%) brightness(110%) saturate(120%) hue-rotate(-20deg) ;
          }
          .action {
            margin-top: @unit;
          }

          .footer {
            padding: @unit-half;
            text-align: left;
            font-size: 14px;
            margin: @unit-quarter;
            .meal-title {
              margin: 0;
              padding: 10px 0;
              font-weight: 300;
              color: @black;

            }
            .meal-description {
              margin: 0;
              padding: @unit-quarter 0 0 0;
              color: @grey;
            }
          }
        }
      }
    }

    // Restaurant overlay
    .restaurant-overlay {
      transform: rotateY(180deg);
      z-index: 2;
      background-color: white;
      .google-maps-directions {
        overflow: hidden;
      }

      .focus {
        z-index: 5;
      }

      .page-content {
        padding: @unit;
        text-align: left;
        font-size: 14px;

        .restaurent-title {
          padding-bottom: @unit;
        }
      }
    }
  }

  // Number of meals
  .actions {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
