@import "_variables.less";

/*
 * Home.less
 **************************/

.page-home {
  // Initial screen before app has loaded
  .load-screen {
    width: 100%;
    height: 100%;
    padding-top: 40%;
    text-align: center;
    background-color: @red;
    color: white;
  }

  // Slider container
  .rn-carousel-container {
    position: absolute;
    .single-meal img {
      max-width: 400px;
      width: 100%;
      text-align: center;
    }
    .page-title {
      text-align: center;
    }
  }
  .page-header {
    padding: 15px;
  }
  .content {
    position: relative;
    height: 100%;
    .price {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: @red;
      background-color: rgba(195, 44, 12, 0.8);
      color: white;
      text-align: center;
      font-size: 12px;
      div {
        margin-top: 17px;
        font-weight: 400;
        &:before {
          content: '$';
        }
      }
    }
    .meal {
      height: 70%;
      background-position:50%;
      background-size: cover;
      background-repeat: no-repeat;
      filter: contrast(110%) brightness(110%) saturate(120%) hue-rotate(-20deg) ;
    }
  }
  .footer {
    padding: @unit-half;
    text-align: center;
    font-size: 14px;
    margin: 5px;
    .meal-title {
      margin: 0;
      padding: 0;
      font-weight: 400;
    }
    .meal-description {
      margin: 0;
      padding: 4px 0 0 0;
    }
  }
}

.overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: white;
  .page-content {
    padding: 20px;
    text-align: center;
    
    .restaurent-title {
      font-weight: 400;
    }
  }
}

// Prev/Next buttons
.actions {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}