<div class="page-home">

  <div loading-spinner="{{loadingGeoLocation || loadingMeals}}">
    <span ng-show="loadingGeoLocation">Finding your position</span>
    <span ng-show="loadingMeals && !loadingGeoLocation">Finding meals near you</span>
  </div>

  <swipe-meals control="swipeMealsControl">
    <div class="single-meal" ng-repeat="meal in meals">
      <h1 ng-bind="meal.name"></h1>
      <span class="subheader">
        $<span ng-bind="meal.prices[0].amount"></span>
        <span ng-bind="meal.restaurant.name"></span>
      </span>
      <p><span ng-bind="getDistanceToRestaurant(meal.restaurant.coordinate)"></span> metres</p>
      <img ng-src="{{meal.image}}" class="meal">
      <p ng-bind="meal.description"></p>
      <div ng-if="false" class="google-maps-directions" from="currentLocation" to="meal.restaurant.coordinate"></div>
    </div>
  </swipe-meals>

  <!-- No meals nearby -->
  <div ng-show="meals.length === 0">
    No tasty meals nearby :(
  </div>

  <!-- Controlls for slider -->
  <div class="actions" ng-show="meals.length > 0 && !isTouch">
    <a ng-click="swipeMealsControl.prev()">Prev</a>
    <a ng-click="swipeMealsControl.next()">Next</a>
  </div>
</div>
