@import "_variables.less";

/*
 * Home.less
 **************************/

.page-home {
  .load-screen {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    img {
      text-align: center;
      padding-top: 40%;
    }
    .loadingSpinner {
      margin: 0 auto;
    }
    .loading-spinner-animation {
      display: block;
      margin-left: 50%;
    }   
    span {
      width: 100%;
      display: block;
      padding-top: 50px;
      margin-top: 50%;
    }
  }

  // Slider container
  .rn-carousel-container {
    position: absolute;
    .single-meal img {
      width: 100%;
      max-width: 400px;
      text-align: center;
    }
    .page-title {
      text-align: center;
    }
  }
  .page-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  .content {
    background-image: url('/www/img/bg.png');
    background-repeat: repeat;
    padding-top: 1%;
    height: 100%;
    position: relative;
    .price {
      position: absolute;
      height: 40px;
      width: 40px;
      right: 10px;
      top: 10px;
      background-color: @red;
      -webkit-border-radius: 25px;
      border-radius: 25px; 
      background-clip: padding-box;
      z-index: 2;
      font-size: 12px;
      color: white;
      text-align: center;
      span {
        display: block;
        margin-top: 12px;
      }
    }

    .meal {
      width: 98%;
      margin: 0 auto;
      height: 68%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position:50%; 
      -webkit-filter: contrast(110%) brightness(110%) saturate(120%) hue-rotate(-20deg) ;  
      background-repeat: no-repeat;
      -webkit-border-radius: 3px;
      border-radius: 3px; 
      background-clip: padding-box;

    }
  }
  .footer {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    margin: 1%;
    border-radius: 3px; 
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ddd;
    .meal-title {
      padding: @unit-half @unit-half 0 @unit-half;
    }
    .meal-description {
      margin: 0;
      padding:0 @unit-half @unit-half @unit-half ;
    }
  }
}

.overlay {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: white;
  .page-header {
    text-align: center;
  }
  .page-content {
    text-align: center;
    padding: 20px;
  }
}

// Prev/Next buttons
.actions {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}