<section class="add-meal">
	<p class="intro">Sharing great takeout is just a few photos away</p>

	<!-- Food image -->
	<div>
		<i class="fa fa-camera"></i>
		<div class="button red capture-image" ng-click="captureImage()">
			<input class="hidden-input" ng-if="!isTouch" file-upload-on-change="uploadImage" type="file" />
			<p>Food</p>
			<span>Delicious picture of your meal</span>
		</div>
	</div>

	<!-- Receipt image -->
	<div>
		<i class="fa fa-camera"></i>
		<div class="button red capture-image" ng-click="captureImage()">
			<input class="hidden-input" ng-if="!isTouch" file-upload-on-change="uploadImage" type="file" />
			<p>Receipt</p>
			<span>We scan it for place & price</span>
		</div>
	</div>

	<!-- Comment -->
	<div>
		<i class="fa fa-comment"></i>
		<textarea class="comment" placeholder="Optional burst of joy / thoughtful description"></textarea>
	</div>
</section>