// Functional styles

.meals {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  .swipe-wrap {
    overflow: hidden;
    position: relative;
    .single-meal {
      float:left;
      width:100%;
      position: relative;
    }
  }
}


// Visual styles

.meals {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 20px 0 0 0;
  }
  h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
  }
  .border {
   border-top: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
  }

  .subheader {
    font-size: 14px;
    font-weight: 300;  
  }
  .takeout {
    margin-top: 20px;
    overflow: auto;
    img {
     float: left;
    }
    .meal {
      width: 100%;
    }
  }
  .desc {
    display: block;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
  }

  .actions {
    display: none;
    margin-bottom: 20px;
    a {
      cursor: pointer;
    }
  }
}


@media screen and (min-width: 800px) {
  .actions {
    display: block !important;
  }

    // this css will only be used when the screen size is min 800px
}