// .swipe {
//   overflow: hidden;
//   visibility: hidden;
//   position: relative;

//   .swipe-wrap {
//     overflow: hidden;
//     position: relative;

//     .meal {
//       float:left;
//       width:100%;
//       position: relative;
//       border: 1px solid black;
//       height: 50px;
//     }
//   }
// }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
  border: 1px solid black;
}