/*
 * header.less
 **************************/

header {
  text-align: center;
  background-color: #fff;
  .settings{
    float: left;
    margin: 15px 18px 18px 18px;
  }
  .logo {
    padding-top: 5px;
    margin: 10px 0 0 0;
    height: 30px;
  }
  .addMeal {
    float: right;
    margin: 18px;
  }
}
