<!DOCTYPE html>
<html>
	<head>
		<title>FAVE - Take-Away Favorites</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet/less" type="text/css" href="styles.less" />
		<link rel="stylesheet" type="text/css" href="normalize.css" />
		<link rel="stylesheet" type="text/css" href="font-awesome.css" />
		<script src="js/less-1.5.0.min.js" type="text/javascript"></script>
	</head>
	<body>
		<section>
			<h1>Tom Ka Gai</h1>
			<h3>11$ - 21 Faves</h3>
			<span>ASIO Thai</span>
			<div class="takeout">
				<img src="img/3747727389_8735cce7a9_o.jpg">
				<span></span>
				<p>Thai Chicken Soup (Tom Ka Gai) has that distinctive Thai flavor - a balance of spicy, salty, sweet and sour. </p>
			</div>
		</section>
	</body>
</html>